@charset "utf-8";

/* background-color: #6200ee; */

.h-button {
    display: inline-flex;
    border-radius: 4px;
    padding: 12px 18px;

    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.05rem;

    align-items: center;
    justify-content: center;

    outline: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow
        .15s ease-in-out;
}

.h-filled-button {
    border: none;
    background-color: var(--color-main);
    color: var(--color-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.h-filled-button:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: color-mix(in srgb, var(--color-main) 85%, white);
}

.h-filled-button:active {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.h-filled-button:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
    box-shadow: none;
}

.h-outlined-button {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.h-outlined-button:hover {
    background-color: color-mix(in srgb, var(--color-main) 5%, var(--color-background));
}

.h-outlined-button:active {
    background-color: color-mix(in srgb, var(--color-main) 20%, var(--color-background));
}

.h-outlined-button:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
    box-shadow: none;
}

.h-text-button {
    border: none;
}

.h-text-button:hover {
    background-color: color-mix(in srgb, var(--color-main) 5%, var(--color-background));
}

.h-text-button:active {
    background-color: color-mix(in srgb, var(--color-main) 20%, var(--color-background));
}

.h-text-button:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
    box-shadow: none;
}
